@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #023a63;
    overflow-y: hidden;
}

#root {
    @apply flex flex-col min-h-screen text-white;
}

.container {
    max-width: 768px;
}

.box {
    padding: 10px;
    border-radius: 10px;
    height: 180px;
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.box::before {
    content: '';
    height: 10px;
    width: 100%;
    bottom: 0;
    left: 0;
    background: #012a4a;
    position: absolute;
    border-radius: 20px;
}

.box::after {
    content: '';
    left: 50%;
    bottom: 0;
    height: 90%;
    width: 10px;
    position: absolute;
    background: #012a4a;
    transform: translate(-50%, 0);
    border-radius: 10px;
}

.disk > div {
    background: #2d7ca0 !important;
    border: 2px solid #012a4a;
    position: relative;
    z-index: 1;
    transition: all;
}

.disk:not(.is-dragging) {
    transform: none !important;
}

@media (max-width: 478px) {
    .box {
        width: 100px;
    }
}

.__reakit-portal [role='dialog'] {
    transform: translateY(100%);
    opacity: 0;
    transition: opacity 250ms ease-in-out, transform 250ms ease-in-out;
}

.__reakit-portal [role='dialog'][data-enter] {
    opacity: 1;
    transform: translateY(0%);
}

.__reakit-portal [role='dialog'][data-leave] {
    opacity: 0;
    transform: translateY(100%);
}

@media (prefers-reduced-motion: reduce) {
    .__reakit-portal [role='dialog'] {
        transform: translateY(0%);
        opacity: 1;
        transition: none;
    }
}

.reset-icon > path {
    stroke: currentColor;
}

.disks-container {
    box-shadow: inset 0 4px 8px 0 rgb(0 0 0 / 0.3);
    @apply relative;
}

@media (max-width: 478px) {
    .disks-container {
        padding-top: 200px;
    }

    .box {
        width: min(45%, 165px);
    }

    .box:nth-of-type(2) {
        position: absolute;
        top: 10px;
        left: 0;
        right: 0;
        margin: auto;
        padding-top: 0px;
    }
}
